body{
	background-color: #FFFFFF;
}
header{
	margin: 0 auto;
	width: 1040px;
	background-color: #c0c0c0;
}

main{
	margin: 0 auto;
	width: 1040px;
	background-color:#181818;
	section{

		article{
			border-radius: 18px;
			width: 500px;
			height: 200px;
			background-color:#363636;
			p{
				//filter:blur(25px);
				&:hover{
					  //  transform: rotate(90deg);
				}
			}
		}
	}
}

